<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Candidate
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Candidate</a></li>
        <li class="active">New Candidate</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">    
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">New Candidate</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Date Of Birth</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>== Select ==</option>
                            <option>Information Techonology</option>
                            <option>Accounting</option>
                            <option>Markeing</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Sub-Category</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>== Select ==</option>
                            <option>Web Developer</option>
                            <option>App Developer</option>
                            <option>Device Programmer</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Educational Level</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>== Select ==</option>
                            <option>Doctorate</option>
                            <option>Masters</option>
                            <option>Honors</option>
                            <option>Degree</option>
                            <option>Diploma</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Subject</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>== Select ==</option>
                            <option>Computer Science</option>
                            <option>Accounting</option>
                            <option>Marketing</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Institution</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>== Select ==</option>
                            <option>BUET</option>
                            <option>Dhaka University</option>
                            <option>North South University</option>
                            <option>East West University</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Institution Type</label>
                    <div class="col-sm-6">
                        <select class="form-control">
                            <option>== Select ==</option>
                            <option>Public</option>
                            <option>Private</option>
                            <option>Foreign</option>
                            <option>N/A</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Training</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Total Experience</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Total Experience">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Current Salary</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Current Salary">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Expected Salary</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Expected Salary">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Keywords</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Keywords">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Original Resume</label>
                    <div class="col-sm-6">
                        <input type="file" id="originalResume">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Modified Resume</label>
                    <div class="col-sm-6">
                        <input type="file" id="originalResume">
                    </div>
                </div>                
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Save</button>
            </div>
            <!-- /.box-footer -->
        </form>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->