
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Candidate Search
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Candidate</a></li>
        <li class="active">Search</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-sm-3">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Search Criteria</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Keyword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control">
                                <option>== Category ==</option>
                                <option>Information Techonology</option>
                                <option>Accounting</option>
                                <option>Markeing</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control">
                                <option>== Sub Category ==</option>
                                <option>Web Developer</option>
                                <option>App Developer</option>
                                <option>Device Programmer</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control">
                                <option>== Education Level ==</option>
                                <option>Doctorate</option>
                                <option>Masters</option>
                                <option>Honors</option>
                                <option>Degree</option>
                                <option>Diploma</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control">
                                <option>== Subject ==</option>
                                <option>Computer Science</option>
                                <option>Accounting</option>
                                <option>Marketing</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control">
                                <option>== Institution ==</option>
                                <option>BUET</option>
                                <option>Dhaka University</option>
                                <option>North South University</option>
                                <option>East West University</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <select class="form-control">
                                <option>== Institution Type ==</option>
                                <option>Public</option>
                                <option>Private</option>
                                <option>Foreign</option>
                                <option>N/A</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Training">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Experience">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Current Salary">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Expected Salary">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    
                </div>
                <!-- /.box-footer -->
            </form>
            <!-- /.box-body -->
        </div>
    </div>

    <div class="col-sm-9">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Results</h3>
            </div>            
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Institution</th>
                            <th>Expected Salary</th>
                            <th>Experience (yr)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rishad Wahid</td>
                            <td>Information Technology</td>
                            <td>University of Technolgy, Sydney</td>
                            <td> 200,000</td>
                            <td>10.5</td>
                        </tr>
                        <tr>
                            <td>Renad Hakim</td>
                            <td>Marketing</td>
                            <td>North South University</td>
                            <td> 300,000</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Anisur Rahman</td>
                            <td>Sales</td>
                            <td>Dhaka University</td>
                            <td> 500,000</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Mukhtar Ali</td>
                            <td>Information Technology</td>
                            <td>BUET</td>
                            <td> 50,000</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Jaman Salek</td>
                            <td>Accounting</td>
                            <td>Dhaka University</td>
                            <td> 20,000</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <!-- /.box-body -->
                <div class="box-footer">
                   
                </div>
                <!-- /.box-footer -->
            <!-- /.box-body -->
        </div>
    </div>s

    <!-- /.box -->
</section>
<!-- /.content -->
